
@using CICD_Application.Models
@{
    var data = ViewBag.Message;
}
<div>
    <table>
        <tr>
            <td>Name:</td>
            <td>@data.Name</td>
            <td>Description:</td>
            <td>@data.Description</td>
        </tr>
    </table>
</div>